<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1057966313092-gu223krljburoe9741qbec4muu3du2no.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1057966313092-gu223krljburoe9741qbec4muu3du2no</string>
	<key>API_KEY</key>
	<string>AIzaSyDWAHXZ-RQsb3iIG4p71-VNVJTywmacwR8</string>
	<key>GCM_SENDER_ID</key>
	<string>1057966313092</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.RnCliExampleNfcAndQrApp</string>
	<key>PROJECT_ID</key>
	<string>playwithdynamiclinks</string>
	<key>STORAGE_BUCKET</key>
	<string>playwithdynamiclinks.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1057966313092:ios:40688be2b816ba2d5d3cd1</string>
</dict>
</plist>